<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zino.project_0905">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".EventTest">

        </activity>

        <activity android:name=".GalleryTest"></activity>

        <activity android:name=".CheckTest"></activity>
        <activity android:name=".GraphicTest"></activity>
        <activity android:name=".frame.FrameAni"></activity>


        <activity android:name=".thread.ThreadAni"></activity>
        <activity android:name=".tween.TwinAni">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>